/* Add your own styles here! I've started by adding a red background to your page. Feel free to change or remove it! */

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-image: url("");
  background-attachment: fixed;
  background-size: 100vw auto;
  background-repeat:no-repeat;
  margin: 0px; padding: 0px;
}

h1,
h2,
h3,
h5,
h6,
p {
    font-family: "Karla", sans-serif;
}
h3, p {
    margin-bottom: 1.5rem;
}

h3{
    font-size: 2.5rem;
}

h5{
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 12px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1;
}

h6{
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: 12px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1;
}

#container {
    max-width: 1400px;
    margin: auto;
}

.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.contents {
    position: relative;
    display: flex;
}

.left_content {
    width: 35%;
    padding: 100px;
    background-color:rgb(213, 0, 0);
    color: white;
}

.left_content_MM {
    width: 35%;
    padding: 100px;
    background-color:rgb(0, 154, 217);
    color: white;
}

.left_content_MSPC {
    width: 35%;
    padding: 100px;
    background-color:rgb(112, 121, 22);
    color: white;
}

.left_content_VM {
    width: 35%;
    padding: 100px;
    background-color:rgb(255, 31, 106);
    color: white;
}

.left_content_B {
    width: 35%;
    padding: 100px;
    background-color:rgb(244, 121, 33);
    color: white;
}

.left_content_RH {
    width: 35%;
    padding: 100px;
    background-color:rgb(29, 46, 92);
    color: white;
}

.left_content_TMT {
    width: 35%;
    padding: 100px;
    background-color:rgb(0, 153, 238);
    color: white;
}

.left_content_LS {
    width: 35%;
    padding: 100px;
    background-color:rgb(42, 58, 146);
    color: white;
}

.left_content_AG {
    width: 35%;
    padding: 100px;
    background-color:rgb(234, 74, 73);
    color: white;
}

.left_content_L {
    width: 35%;
    padding: 100px;
    background-color:rgb(120, 50, 61);
    color: white;
}

.left_content_A {
    width: 35%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.right_content {
    position: relative;
    width: 65%;
}

.sticky_wrap {
    position: sticky;
    display: inline-block;
    left: 100%;
    top: 5%;
}

#Mobile_container {
    max-width: 500px;
    margin: auto;
}

#Mobile_container h1 {
  color: black;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  line-height: 1;
}

.Mobile_Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.Mobile_contents {
  border-left: 8px solid;
  border-image: linear-gradient(to bottom, rgb(224, 64, 64), rgb(255, 0, 0)) 0 1;
  position: relative;
  display: flex;
}

.Mobile_contents_MM {
  border-left: 8px solid;
  border-color: rgb(0, 154, 217);
  position: relative;
  display: flex;
}

.Mobile_contents_MSPC {
  border-left: 8px solid;
  border-color: rgb(112, 121, 22);
  position: relative;
  display: flex;
}

.Mobile_contents_VM {
  border-left: 8px solid;
  border-image: linear-gradient(to bottom, rgb(255, 31, 106), rgb(255, 247, 146), rgb(255, 31, 106)) 0 1;
  position: relative;
  display: flex;
}

.Mobile_contents_B {
  border-left: 8px solid;
  border-color:rgb(244, 121, 33);
  position: relative;
  display: flex;
}

.Mobile_contents_RH {
  border-left: 8px solid;
  border-color: rgb(29, 46, 92);
  position: relative;
  display: flex;
}

.Mobile_contents_TMT {
  border-left: 8px solid;
  border-color: rgb(0, 153, 238);
  position: relative;
  display: flex;
}

.Mobile_contents_LS {
  border-left: 8px solid;
  border-color: rgb(42, 58, 146);
  position: relative;
  display: flex;
}

.Mobile_contents_AG {
  border-left: 8px solid;
  border-color: rgb(234, 74, 73);
  position: relative;
  display: flex;
}

.Mobile_contents_L {
  border-left: 8px solid;
  border-color: rgb(120, 50, 61);
  position: relative;
  display: flex;
}

.Mobile_sticky_wrap {
    position: sticky;
    display: inline-block;
    left: 100%;
    top: 5%;
}

.Mobile_sticky_wrap p {
    font-size: 12px;
}

h1 {
  color: black;
  font-weight: 800;
  font-size: 90px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  line-height: 1;
}

.Logo img{
 max-width: 180px;
 float: left;
 margin-left: 20px;
}

header {
  margin-top: 50px;
  position: sticky;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

.tagline {
  min-height: 30vw;
}

.tagline button.primaryContained {
  background: rgba(236, 0, 135, 1);
}

.tagline button.shelflife {
  background: rgb(255, 0, 0);
}

.InformationLeft .mo2 p {
  color: black;
  font-weight: 200;
  font-size: 90px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.leftimages {
  max-width: 300;
}

.mo2 p {
  color: black;
  font-weight: 200;
  font-size: 90px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.TitleImage {
 margin-top: 100px;
}


.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto, auto, auto, auto, auto;
  padding: 5px;
  background: none;
}

.grid > div {
  padding: 10px;
  font-size: 30px;
}

.Text {
  width: 65%;
  font-size: 20px;
  padding: 20px;
}

.item1 .image {
  max-width: 300px;
}

.item1 .image {
  position: relative;
}

.container .image {
  max-width: 100%;
}

.containerFULL .image {
  max-width: 100%;
  min-width: 100%;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.desktop {
  margin-right: auto;
  float: right;
}

.desktop ul {
  margin-top:0;
  padding: 0;
  list-style: none;
}

.desktop li {
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;

}

.desktop ul li a {
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.InformationLeft {
  margin-left: 30px; position: sticky;
}

.imageleft {
  margin: 10px;
}

.aboutimage {
  width: 35%;
}

.Information .url{
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.Information-right .url{
  font-family: 'Karla';
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 50px;
}

.mobile ul {
  justify-content: center;
}

.mo2 abbr {
 color:rgba(236, 0, 135, 1);
 font-weight: 600;
 text-decoration: none;
 max-width: 204px;
}

.Title2 {
  margin-top: -100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Title2 abbr {
 color: white;
 text-transform:uppercase;
 font-size: 25px;
 font-weight: 800;
 text-decoration: none;
 max-width: 204px;
 justify-content: center;
}

.Title2 p {
  color: white;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.PTitle h1 {
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
}

.PTitle-right h1 {
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 50px;
}

nav ul li a:hover {
  color:rgba(236, 0, 135, 1);
  background-color: transparent;
  text-decoration: none;
}

.DesktopEmail {
  display: block;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-top: 30px;
}

.DesktopEmail a abbr {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.DesktopWorkB {
  display: block;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-top: 30px;
}

.DesktopWorkB a abbr {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
}


/* @media screen and (max-width: 1000px) {
  header {
    height: 250px;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 50px;
  }

  header .middle {
    display: inline-block;
    float: right;
  }

  header .desktop {
    display: none;
  }

} */


.row {
  margin-top: 20px;
}

.Information .row {
  background-color: white;
}

.Information .container {
  padding-top: 30px;
  margin-left: 20px;
  float: left;
  max-width: 550px;
}

.Information .Citation p {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 1);
}

.Citation p {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 1);
}

.Information p {
  margin-right: 30px;
  font-size: 20px;
}

.Information-right p {
  margin-left: 50px;
  font-size: 1.1vw;
}


body .Information {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;

}

.DesktopImages {
  background-color: white;
}

/* .DesktopImages .container .url {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
} */

.MobileInfo {
  display: none;
}

.dropdown {
  display: none;
}

.Links {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.Links ul {
  list-style: none;
    margin-top: 20px;
    padding: 0px;
}

.Links ul li a {
  color:rgba(236, 0, 135, 1);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.row img {
  margin-top: 0px;
  vertical-align: top;
  width: 100%;
}

.header-row img {
  vertical-align: top;
}

.column {
  flex: 25%;
  max-width: 100%;
  padding: 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: top;
  width: 50%;
}

.containerFULL {
  position:  relative;
  width: 100%;
}

.container {
  position: relative;
  max-width: 100%;
} 

.image {
  display: block;
    width: auto;
    height: auto;
} 

.containerFULL .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(189, 189, 189, 0.451);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
} 

.containerFULL:hover .overlay {
  width: 100%;
}

.container:hover .overlay {
  width: 100%;
}

.container .grid:hover .overlay {
  width: 100%;
}

.container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(189, 189, 189, 0.451);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.url abbr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(236, 0, 135, 1);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-size: 20px;
}

.MobileInfo .url abbr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(236, 0, 135, 1);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.MobileInfo .url {
  margin-bottom: 20px;
}

.overlay abbr {
 outline: 0;
 color: white;
 font-weight: 900;
 font-size: 2vw;
 position: absolute;
 top: 85%;
 left: 40%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 white-space: nowrap;
 text-transform: uppercase;
 text-decoration: none;
}

@media screen and (max-width: 890px) {

  body {
      margin-top: 0px;
      padding-top: 0px;

  }
  body .MobileInfo {
    display: block;
    margin-top: 30px;
    padding-top: 0px;
  }

 .MobileDesktop {
    display: block;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .MobileDesktop a abbr {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .MobileDesktop button.primaryContained {
    text-decoration: none;
    background: rgba(236, 0, 135, 1);
  }

  .Desktop button.primaryContained {
    text-decoration: none;
    background: rgba(236, 0, 135, 1);
  }

  .MobileDesktop button.shelflife {
    text-decoration: none;
    background: rgba(236, 0, 135, 1);
  }

  .MobileDesktop {
    padding-top: 20px;
  }

  .mo2mobile {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px; 
  }

  .mo2mobile p{
    color:black;
    margin-top: 0px;
    font-size: max(40px) min(10px);
    font-weight: 200;
    line-height: 10px;
    font-size: 55px;
    text-transform: capitalize;
  }

  .mo2mobile abbr {
    color:black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    max-width: 100px;
   }

  .mobile li {
    display: block;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 50px;

  }

  .mobile ul li a {
    justify-content: center;
    margin-top: 20px;
    display: block;
    color:rgba(236, 0, 135, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  
  body .Information {
    display: none;
    }

  .Desktop {
    display: none;
  }

 .DesktopImages {
    display: none;
  }

  .Desktop {
    display: none;
  }

  .desktop li a {
    display: none;
  }

  .DesktopWorkB {
    display: none;
  }
}

.MobileInfo .overlay abbr {
  outline: 0;
  color: white;
  font-weight: 900;
  font-size: 5vw;
  position: absolute;
  top: 85%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
}

.MobileInfo h1 {
  padding-left: 0px;
  padding-right: 10px;
}

.MobileInfo h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.MobileInfo h3 {
  padding-left: 10px;
  padding-right: 10px;
}

.MobileText {
  padding: 20px; 
  width: auto;
  height: auto;
}

.MobileText p {
  color: black;
}

.MobileInfo .MobileText {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
}

.MobileInfo .MobileText p {
  font-size: 17px;
}

.mobileimages {
  padding: 10px;
  background-color: white;
}

button.primaryContained {
	background:rgba(236, 0, 135, 1);
	color: white;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	box-shadow: 0px 2px 6px 0px rgba(70, 70, 70, 0.232);
	transition: 1s all;
	font-size: 14px;
	border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

button.shelflife {
	background:rgb(255, 0, 0);
	color: white;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	box-shadow: 0px 2px 6px 0px rgba(70, 70, 70, 0.232);
	transition: 1s all;
	font-size: 14px;
	border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.Email a abbr {
  margin-top: auto;
  margin-left: auto;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: white
}

.Email {
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: white;
  margin-right:30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.MobileText h2 {
  font-size: 30px;
  color: black;
  margin-right:30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  color: black;
  margin-left: 20px;
  margin-right:30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.Footer {
  background:rgb(240, 240, 240);
  padding: 20px;
}

.Footer p{
  font-size: 1.1vw;
  margin-left: 20px;
  padding: 0px;
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.Footer a abbr{
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: 20px;
  margin-right:30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto, auto, auto, auto, auto;
  padding: 5px;
  background: none;
}

.grid2 > div {
  padding: 10px;
  font-size: 30px;
}
