/* Add your own styles here! I've started by adding a red background to your page. Feel free to change or remove it! */

body {
  background-color: rgba(0, 0, 0, 0);
  background-position:center;
  background: contain;
  font-family:'Montserrat', sans-serif;
}


h1 {
  font-size: 14px;
  color: black;
  margin-right:30px;
  font-weight: 600;
  text-transform: uppercase;
}

.box {
  width: 100%
}

header {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

header img {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 15px;
  padding top: 20px;
  max-width: 300px;
}

nav {
  float: right;
}

nav ul {
  margin-top:0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 30px;
  padding top: 23px;

}

nav ul li a {
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

nav ul li a:hover {
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
}

.Citation p {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 1);
}

p {
  font-family: 'Montserrat',sans-serif;
  margin-right: 30px;
  font-size: 1.1vw;
}



section.Information {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;

}

section.Links {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Links ul {
  list-style: none;
}

section.Links ul li a {
  color:rgba(0, 174, 239, 1);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.row img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}

.column {
  flex: 25%;
  max-width: 100%;
  padding: 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 50%;
}

.containerFULL {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
    width: 100%;
    height: auto;
  }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 174, 239, .80);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.containerFULL:hover .overlay {
  width: 100%;
}

.container:hover .overlay {
  width: 100%;
}

.url abbr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 174, 239, 1);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-size: 1.1vw;
}

 .overlay abbr {
  color: white;
  font-weight: 600;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-transform: uppercase;
}

button.primaryContained {
	background:rgba(0, 174, 239, 1);
	color: white;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
  font-family:'Montserrat', sans-serif;
	box-shadow: 0px 2px 6px 0px rgba(243, 239, 226, .5);
	transition: 1s all;
	font-size: 14px;
	border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.Email {
  margin-top: 10px;
  margin-left: auto;
  padding: 0;
  display: inline-block;
  text-decoration: none;

}

h2 {
  font-size: 14px;
  color: black;
  margin-right:30px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  color: black;
  margin-right:30px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.End p {
  font-family: 'Montserrat',sans-serif;
  font-size: 1.1vw;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px){
  .column {
    flex: 50%;
    max-width: 50%;
  }

@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
